POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
DATABASE_URL=
AUTH_SECRET="4MJSOtB8DXsHnQipABMf7mizRHNnMgDi7vS8EO8Dgaw=" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_TRUST_HOST=true
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-3
STRIPE_API_KEY=
STRIPE_PLATFORM_ACCOUNT_ID=
BASE_URL=http://localhost:3000
STRIPE_WEBHOOK_SIGNATURE=
ENABLE_EMAILS=true
APP_PORT=3000
